<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio FullCycle</title>
</head>

<body>

    <h1>Full Cycle Rocks!</h1>

    <ul>
        <% for(var i=0; i<people.length; i++) {%>
            <li>
                Name: <%= people[i].Name %>
            </li>   
        <% } %>
    </ul>
</body>